### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="ZTE-E8820S"

### Linux kernel and toolchain
CONFIG_LINUXDIR=linux-3.4.x
CONFIG_TOOLCHAIN_DIR=/opt/rt-n56u/toolchain-mipsel

############################################################
### Linux kernel configuration
#################################################### ##########

### 构建ROOTFS_IN_RAM固件模式（内核+initramfs）。
### 减少了固件大小，但使用了更多 RAM，启动速度较慢。
### 还允许构建映像以从 UART 控制台加载 W/O Flash
#CONFIG_FIRMWARE_TYPE_ROOTFS_IN_RAM=y

### 强制 MT7621 CPU 时钟为 900MHz（覆盖 Uboot 设置）
#CONFIG_FIRMWARE_CPU_900MHZ=y

### 启用 MT7621 CPU 睡眠模式（空闲时降频至 220MHz）
#CONFIG_FIRMWARE_CPU_SLEEP=y

### WiFi AP 2.4GHz 的内核驱动程序选择
### 4.1 = MT7603E v4.1.2.0
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1

### WiFi AP 5GHz 的内核驱动程序选择
### 3.0 = MT7612E v3.0.4.0
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### 启用 IPv6 支持
CONFIG_FIRMWARE_ENABLE_IPV6=y

### 启用 USB 支持
CONFIG_FIRMWARE_ENABLE_USB=y

### Enable NTFS filesystem support via Paragon "ufsd" driver. ~0.4MB
CONFIG_FIRMWARE_ENABLE_UFSD=y

### Enable FAT/FAT32 filesystem support. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FAT=y

### Enable exFAT (FAT/FAT32 too) filesystem support. ~0.12MB
CONFIG_FIRMWARE_ENABLE_EXFAT=y

### Enable EXT2 filesystem support. ~0.1MB
CONFIG_FIRMWARE_ENABLE_EXT2=y

### Enable EXT3 filesystem support. ~0.2MB
CONFIG_FIRMWARE_ENABLE_EXT3=y

### Enable EXT4 (EXT3/2 too) filesystem support. ~0.4MB
CONFIG_FIRMWARE_ENABLE_EXT4=y

### Enable XFS filesystem support. ~0.6MB
CONFIG_FIRMWARE_ENABLE_XFS=n

### Enable FUSE (filesystems in userspace) support. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FUSE=y

### Enable swap files/partitions support. ~0.05MB
CONFIG_FIRMWARE_ENABLE_SWAP=n

### Include UVC camera modules. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_UVC=y

### Include USB-HID modules. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_HID=n

### Include USB-Serial modules (e.g. pl2303). ~0.03MB
CONFIG_FIRMWARE_INCLUDE_SERIAL=y

### Include USB-Audio modules ~0.46MB
CONFIG_FIRMWARE_INCLUDE_AUDIO=y

### Include XFRM (IPsec) modules & iptables extension ~ 0.2MB
CONFIG_FIRMWARE_INCLUDE_XFRM=n

### Include network QoS scheduling modules. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_QOS=n

### Include IMQ module for shapers (a bit of performance degradation). ~0.02MB
CONFIG_FIRMWARE_INCLUDE_IMQ=n

### Include IFB module for shapers. ~0.03MB
CONFIG_FIRMWARE_INCLUDE_IFB=n

### Include IPSet utility and kernel modules. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### 包括 NFSv3 服务器。 〜0.6MB
CONFIG_FIRMWARE_INCLUDE_NFSD=n

### 包括 NFSv3 客户端。 〜0.5MB
CONFIG_FIRMWARE_INCLUDE_NFSC=n

### 包括 CIFS (SMB) 客户端。 〜0.2MB
CONFIG_FIRMWARE_INCLUDE_CIFS=n

#################################################### ##########
### 用户空间配置
#################################################### ##########

### 包含WebUI 国际资源。增加固件大小
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

### 包括 NTFS-3G FUSE 驱动程序（而不是 Paragon“ufsd”）。 〜0.4MB
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n

### 包括 LPR 打印机守护进程。 〜0.12MB
CONFIG_FIRMWARE_INCLUDE_LPRD=y

### 包括 USB-over-Ethernet 摄像头守护程序。〜0.05MB
CONFIG_FIRMWARE_INCLUDE_U2EC=y

### 包含“tcpdump”实用程序。〜0.6MB
CONFIG_FIRMWARE_INCLUDE_TCPPDUMP=y

### 包含“hdparm”实用程序（允许设置HDD旋转超时和APM）。〜0.1MB
CONFIG_FIRMWARE_INCLUDE_HDPARM=y

### 包括“parted”实用程序（允许创建GPT分区）。〜0.3MB
CONFIG_FIRMWARE_INCLUDE_PARTED=y

### 包括 SMB（和 WINS）服务器。〜1.5MB
CONFIG_FIRMWARE_INCLUDE_SMBD=y

### 使用 samba3.6 代替 samba3
CONFIG_FIRMWARE_INCLUDE_SMBD36=y

###仅包括WINS服务器。〜0.4MB
CONFIG_FIRMWARE_INCLUDE_WINS=n

### 包括 SMB 和 WINS 服务器的系统日志。〜0.3MB
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=n

### 包括 FTP 服务器。〜0.2MB
CONFIG_FIRMWARE_INCLUDE_FTPD=y

### 包括替代 L2TP 控制客户端 RP-L2TP。 〜0.1MB
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n

### 包括 EAP-TTLS 和 EAP-PEAP 身份验证支持。 openssl ~1.2MB，wpa_supplicant +0.04MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### 包括对 DDNS 客户端的 HTTPS 支持。 openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=n

### 包括 HTTPS 支持。 openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_HTTPS=n

### 包括 sftp 服务器。 openssl ~1.2MB, sftp 服务器 ~0.06MB
CONFIG_FIRMWARE_INCLUDE_SFTP=y

### 包括 dropbear SSH。〜0.3MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n

### 使 dropbear 快捷密码和哈希更快。 〜0.06MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n

### 包含 OpenSSH 而不是 dropbear。 openssl ~1.2MB, openssh ~1.0MB
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### 包括 OpenVPN。需要 IPv6。openssl ~1.2MB, openvpn ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n

### 包括 StrongSwan。XFRM 模块 ~0.2MB，strongswan ~0.7MB
CONFIG_FIRMWARE_INCLUDE_SSWAN=n

### 将椭圆形 (EC) 包含到 openssl 库中。〜0.1MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### 包含用于生成证书的“openssl”可执行文件。 〜0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n

### 包括 xUPNPd IPTV 媒体服务器。 〜0.3MB
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y

### 包括 Minidlna UPnP 媒体服务器。〜1.6MB
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n

### 包括 Firefly iTunes 媒体服务器。〜1.0MB
CONFIG_FIRMWARE_INCLUDE_FIREFLY=n

### 为 Minidlna 和 Firefly 包含 ffmpeg 0.11.x，而不是 0.6.x。 〜0.1MB
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=y

### 包含传输种子。openssl ~1.2MB，传输 ~1.5MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n

### 包括 Transmission-Web-Control（高级 WebUI）。〜0.8MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n

### 包括 Aria2 下载管理器。 openssl ~1.2MB, aria2 ~3.5MB
CONFIG_FIRMWARE_INCLUDE_ARIA=y

### 包括 Aria2 WEB 控件。〜0.7MB
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=y

CONFIG_FIRMWARE_INCLUDE_CURL=y

CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n

CONFIG_FIRMWARE_INCLUDE_GDUT_DRCOM=n

CONFIG_FIRMWARE_INCLUDE_DOGCOM=y

CONFIG_FIRMWARE_INCLUDE_MINIEAP=y

CONFIG_FIRMWARE_INCLUDE_NJIT_CLIENT=y

CONFIG_FIRMWARE_INCLUDE_NAPT66=y

CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y

CONFIG_FIRMWARE_INCLUDE_SSSERVER=n

CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n

CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n

CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n

CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=n

CONFIG_FIRMWARE_INCLUDE_VLMCSD=y

CONFIG_FIRMWARE_INCLUDE_TTYD=y

CONFIG_FIRMWARE_INCLUDE_LRZSZ=y

CONFIG_FIRMWARE_INCLUDE_HTOP=y

CONFIG_FIRMWARE_INCLUDE_NANO=y

CONFIG_FIRMWARE_INCLUDE_IPERF3=y

CONFIG_FIRMWARE_INCLUDE_DUMP1090=n

CONFIG_FIRMWARE_INCLUDE_RTL_SDR=n

CONFIG_FIRMWARE_INCLUDE_MTR=y

CONFIG_FIRMWARE_INCLUDE_SOCAT=y

CONFIG_FIRMWARE_INCLUDE_SRELAY=y

CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n

CONFIG_FIRMWARE_INCLUDE_FRPC=n

CONFIG_FIRMWARE_INCLUDE_FRPS=n

CONFIG_FIRMWARE_INCLUDE_TUNSAFE=n
